$main-color: rgb(247, 0, 0);
$button-color: white;

#movie__img {
  max-height: 600px;
  max-width: 100%;
}

.movie__title {
  font-size: 28px;
  font-weight: bold;
}

.movie__header {
  font-size: 18px;
  font-weight: bold;
}

.movie__text {
  font-size: 16px;
}

#back-button {
  font-size: 18px;
  background-color: $main-color;
  color: $button-color;
  border: none;
  margin-top: 20px;
  padding: 6px;
  border-radius: 20%;
}